# Application Configuration
NODE_ENV=development
DEFAULT_TIME_ZONE=Asia/Bangkok

#Database URL
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/elysia_db"

#SERVER PORT
PORT=7000

#Logger config
PRETTY_LOG=true 

# JWT Configuration
ACCESS_KEY_TOKEN=accessToken
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1d